@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Weather</h1>

    <form asp-controller="Home" asp-action="Weather" method="POST">
        <input class="" type="text" placeholder="Enter a city..." name="cityInput">
    </form>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
