@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Weather</h1>

    <form asp-controller="Home" asp-action="Weather" method="POST">
        <input class="" type="text" placeholder="Enter a city..." name="cityInput">
    </form>

</div>
